{% extends 'assignment/assignment_base.html' %}
{% load static %}

{% block assignment %}

<div class="col s12">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Archivos adjuntos</h4></li>
    {% for file in assignment.files.all %}
      <li class="collection-item">
        <div>{{ file.get_file_name }}
          <a class="secondary-content" href="{{ file.file.url }}" download><em class="material-icons">download</em></a>
        </div>
      </li>
    {% endfor %}    
  </ul>  
</div>

{% if not teacher_mode %}
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Archivo enviado</h4></li>
          <li class="collection-item avatar">
            <em class="material-icons circle">insert_chart</em>
            {% if submission.date == None %}
              <p>Aún no se ha subido nada.</p>
            {% else %}
              <p>Fecha de entrega: {{ submission.date }}</p>
            {% endif %}
            <a href="#" class="secondary-content"><em class="material-icons">delete</em></a>
          </li>
    </ul>
  </div>

  <div class="col s12">
    <a class="btn" href="{% url 'start-assignment' course_id module_id assignment.id %}">Empezar</a>
  </div>
{% else %}
  <div class="col s12">
    <a class="btn" href="{% url 'assignment-edit' course_id module_id assignment.id %}">Editar Tarea</a>
  </div>
{% endif %}


{% endblock %}