 <!--Deriva del HTML de newassignment-->
{% extends 'base.html' %}
<!--Carga los scripts en la carpeta static-->
{% load static %}
        
<!--Empieza un bloque contenido en otro HTML--> 
{% block content %}

<div class="row center-align">
  <div class="col s12">

    <!--Formulario para editar un curso-->
    <form method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}
    <h3 class="title is-3">Editar curso</h3>

          <!--Campo para subir la imagen asociada al curso-->
          <div class="file-field input-field">
            <div class="btn">
              <span>Imagen</span>
              {{ form.picture }}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

          <!--Campo para subir el título del curso-->
          <div class="input-field col s12">
            {{ form.title }}
            <label for="title">Título</label>
          </div>

          <!--Campo para subir la descripción del curso-->
          <div class="input-field col s12">
            {{ form.description }}
            <label for="description">Descripción</label>
          </div>

          <!--Campo para subir escoger el día del curso-->
          <div class="input-field col s12">
            {{ form.day }}
            <label for="day">Día</label>
          </div>

          <!--Campo para escoger la hora de inicio del curso-->
          <div class="input-field col s12">
            <input type='time' name='time_start' type="text" required value='08:00'>
            <label for="day">Hora de Inicio</label>
          </div>
          
          <!--Campo para escoger la hora de cierre del curso-->
          <div class="input-field col s12">
            <input type='time' name='time_end' type="text" required value='09:00'>
            <label for="day">Hora de Cierre</label>
          </div>

          <!--Campo para escoger la categoría del curso-->
          <div class="input-field col s12">
            {{ form.category }}
            <label for="location">Categoría</label>
          </div>

          <!--Campo para subir la descripción del syllabus del curso-->
          <div class="input-field col s12">
              {{ form.syllabus }}
              <label for="syllabus">Syllabus</label>
          </div>

      <!--Muestra los errores cometidos al ingresar el formulario-->
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>

      <!--Botón para subir el formulario-->
      <div class="field">
      <p class="control">
        <button type="submit" value="login" class="btn waves-effect waves-light">
          Actualizar
        </button>
      </p>
    </div>

    </form>

</div>
</div>

{% endblock %}