 <!--Deriva del HTML de newassignment-->
{% extends 'classroom/menucourse.html' %}
<!--Carga los scripts en la carpeta static-->
{% load static %}

<!--Empieza un bloque contenido en otro HTML--> 
{% block contenido %}

  <div class="col s12">
    <!--Formulario para subir una nota-->
    <form method="post" action="{% url 'grade-submission' course.id grade.id %}" role="form" class="col s12">
    {% csrf_token %}
    <h4>Assignment maximum points: <strong>{{ grade.submission.assignment.points }}</strong></h4>

    <!--Campo para asignar la nota del estudiante-->
    <div class="input-field col s12">
      <em class="material-icons prefix">plus_one</em>
      <input id="icon_prefix" type="text" name="points" class="validate">
      <label for="icon_prefix">Points</label>
    </div>

    <!--Botón para subir el formulario-->
    <div class="col s12">
        <button type="submit" value="login" class="btn waves-effect waves-light">
          Submit
        </button>
    </div>
    </form>
  </div>


{% endblock %}