{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div class="row center-align">
  <div class="col s12">


    <form method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}
    <h3 class="title is-3">Crear un nuevo curso</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning" role="alert">
          {{ message }}
        </div>    
      {% endfor %}
    {% endif %}

          <div class="file-field input-field">
            <div class="btn">
              <span>Imagen</span>
              {{ form.picture }}
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

          <div class="input-field col s12">
            {{ form.title }}
            <label for="title">Título</label>
          </div>

          <div class="input-field col s12">
            {{ form.description }}
            <label for="description">Descripción</label>
          </div>

          <div class="input-field col s12">
            {{ form.day }}
            <label for="day">Día</label>
          </div>

          <div class="input-field col s12">
            <input type='time' name='time_start' type="text" required value='08:00'>
            <label for="day">Hora de Inicio</label>
          </div>

          <div class="input-field col s12">
            <input type='time' name='time_end' type="text" required value='09:00'>
            <label for="day">Hora de Cierre</label>
          </div>

          <div class="input-field col s12">
            {{ form.category }}
            <label for="location">Categoría</label>
          </div>

          <div class="input-field col s12">
              {{ form.syllabus }}
          </div>


      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>


      <div class="field">
      <p class="control">
        <button type="submit" value="login" class="btn waves-effect waves-light">
          Crear
        </button>
      </p>
    </div>

    </form>

</div>
</div>

{% endblock %}