{% extends 'classroom/menucourse.html' %}
{% load static %}

{% block contenido %}

  <div class="section">
    <h4>Tareas entregadas</h4>
    <div class="divider"></div>
    <form method="post">
      {% csrf_token %}
    <ul class="collapsible">
      {% for module in course.modules.all %}
      <li>
        <div class="collapsible-header"><em class="material-icons">expand_more</em><strong>{{ module.title }}</strong></div>
        <div class="collapsible-body" style="font-size: 14px">
            <table>
              <caption>Mis tareas</caption>
              <thead>
                <tr>
                    <th id="Tarea">Tarea</th>
                    <th id="Alumno">Alumno</th>
                    <th id="Fecha de entrega" class="text-center">Fecha Entrega</th>
                    <th id="Estado" class="text-center">Estado</th>
                    <th id="Nota" class="text-center">Nota</th>
                </tr>
              </thead>

              <tbody>
              {% for assignment in module.assignments.all %}
                {% for submission in submissions %}
                  {% if submission.assignment == assignment %}
                    <tr>
                      <td>{{ assignment.title }}</td>
                      <td>{{submission.user.id }}</td>
                      <td class="text-center">{{ submission.date|date:"M d, Y" }}</td>
                      {% if not submission.checked %}
                        <td class="text-center">Sin revisar</td>
                        <td><input name="points" style="width:2ch" value={{ points.points}}></td>
                        <input name="student_id" type="hidden" value={{ submission.user.id }} />
                      {% else %}
                        <td class="text-center">Revisado</td>
                      {% endif %}
                      
                    </tr>
                  {% endif%}
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
            
        </div>
      </li>
      {% endfor %}
    </ul>
    </form>
      



  </div>
  





{% endblock %}