{% extends 'classroom/menucourse.html' %}
{% load static %}

{% block contenido %}

  <div class="section">
    <h4>Tareas entregadas</h4>
    <div class="divider"></div>
    <form method="post">
      {% csrf_token %}
    <ul class="collapsible">
      {% for module in course.modules.all %}
      <li>
        <div class="collapsible-header"><em class="material-icons">expand_more</em><strong>{{ module.title }}</strong></div>
        <div class="collapsible-body" style="font-size: 14px">
            <table>
              <caption>Tareas</caption>
              <thead>
                <tr>
                    <th id="Tarea">Tarea</th>
                    <th id="Alumno">Alumno</th>
                    <th id="Fecha de entrega" class="text-center">Fecha Entrega</th>
                    <th id="Nota" class="text-center">Nota</th>
                </tr>
              </thead>

              <tbody>
              {% for assignment in module.assignments.all %}
                {% for submission in submissions %}
                  {% if submission.assignment == assignment %}
                    <tr>
                      <td>{{ assignment.title }}</td>
                      <td><a href="{% url 'student-submission' course.id module.id assignment.id submission.id%}">{{ submission.user.first_name }}</a></td>
                      {% if not submission.delivered %}
                        <td class="text-center">Aún no se entrega</td>
                      {% else %}
                        <td class="text-center">{{ submission.date|date:"d/m/y" }}</td>
                      {% endif %}
                      <td><input name="points" style="width:2ch" value={{ submission.points }}></td>
                      <input name="submission_id" type="hidden" value={{ submission.id }} />
                    </tr>
                  {% endif%}
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
            
          </div>
        </li>
        {% endfor %}
      </ul>
      <button type="submit" class="btn waves-effect waves-light">Guardar</button>
    </form>
      



  </div>
  





{% endblock %}