{% extends 'classroom/menucourse.html' %}
{% load static %}

{% block contenido %}

    <div class="section">
      <h4>Participantes del curso</p></h4>
      <div class="divider"></div> 
  
      <ul class="collapsible">
        
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Inscripción</th>
                
            </thead>
            <tbody>
                {% for student in course.enrolled.all %}
                <tr>  
                    <th>{{ student.id }}</th>
                    <th>{{ student.first_name }} {{ student.last_name }}</th>
                    <th> {{ student.date_joined }}</th>
                    <th> <a class="btn red darken-1" href="{% url 'delete-student' course.id student.id %}"  ><i class="material-icons">delete</i></a></th>
                </tr>
                {% endfor %}
                
            </tbody>
          </table>
                         
      </ul>
  
    </div>
    
  </div>




{% endblock %}