<!--Deriva del HTML de newassignment-->
{% extends 'classroom/menucourse.html' %}
<!--Carga los scripts en la carpeta static-->
{% load static %}

<!--Empieza un bloque contenido en otro HTML-->   
{% block contenido %}

<!--Vista solo disponible para el profesor-->
{% if teacher_mode == True %}

<a class="waves-effect waves-light btn modal-trigger" href="#modal1"><em class="material-icons">add</em></a>

<!-- Modal Structure -->
<!--Ventana emergente para agregar nuevo alumno-->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Agregar Nuevo Estudiante</h4>
    <p>Seleccionar el id del nuevo estudiante</p>
    {% block buscador %}

    <!--Formulario para buscar un alumno-->
    <form method="POST">
      {% csrf_token %}
      <div class="input-group">
        <!--Correo del alumno a buscar-->
        <input type="email" class="validate" placeholder="Buscar Email..." name="buscar"
          value="{{ request.POST.buscar }}">
        <!--Botón para buscar-->
        <div class="input-group-append">
          <button class="btn blue darken-1" type="submit">
            <em class="material-icons">person_search</em>
          </button>
        </div>
      </div>
    </form>

    {% endblock buscador %}

    <!--Tabla con los estudiantes encontrados-->
    <table class="table table-striped table-hover">
      <caption>Estudiantes</caption>
      <thead>
        <th scope="col">Nombre</th>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>

      </thead>
      <tbody>
        <!--Muestra todos los estudiantes-->
        {% for student in students %}
        <tr>
          <!--Primer nombre del estudiante-->
          <th scope="Primer nombre">{{ student.first_name }}</th>
          <!--ID del estudiante-->
          <th scope="Usuario">{{ student.id }}</th>
          <!--Correo del estudiante-->
          <th scope="Correo">{{ student.email }}</th>
          <!--Botón para añadir estudiante-->
          <th scope="Añadir"> <a class="btn green darken-1" href="{%  url 'add-student' course.id student.id %}"><em class="material-icons">person_add_alt</em></a></th>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</div>

{% endif %}

<div class="section">
  <h4>Participantes del curso</p>
  </h4>
  <div class="divider"></div>

  <ul class="collapsible">

    <!--Tabla de estudiantes del curso-->
    <table class="table table-striped table-hover">
      <caption>Participantes del curso</caption>
      <thead>
        <th scope="col">Nombre</th>
        <th scope="col">Inscripción</th>

      </thead>
      <tbody>
        <!--Muestra todos los estudiantes-->
        {% for student in course.enrolled.all %}
        <tr>
          <!--Nombre completo del estudiante-->
          <th scope="Nombre">{{ student.first_name }} {{ student.last_name }}</th>
          <!--Fecha de ingreso del estudiante-->
          <th scope="Fecha de ingreso"> {{ student.date_joined }}</th>
          <!--Botón para eliminar un estudiante del curso-->
          <th scope="Eliminar estudiante"> <a class="btn red darken-1" href="{% url 'delete-student' course.id student.id %}"><em
                class="material-icons">delete</em></a></th>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </ul>

</div>

</div>

{% endblock %}