{% extends 'classroom/menucourse.html' %}
{% load static %}

{% block contenido %}

    {% if teacher_mode == True %}
      <a href="{% url 'new-module' course.id %}" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
    {% endif %}
  
    <div class="section">
      <h4>Participantes del curso : <p>{{course.title}}</p></h4>
      <div class="divider"></div> 
  
      <ul class="collapsible">
        
        <table class="table table-striped table-hover">
            <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Id</th>
                <th scope="col">Action</th>
                
            </thead>
            <tbody>
                {% for student in course.enrolled.all %}
                <tr>  
                    <th>{{ student.first_name }}</th>
                    <th> {{ student.last_name }}</th>
                    <th> {{ student.date_joined }}</th>
                    <th> <a class="btn red darken-1" href="{% url 'delete-student' course.id student.id %}"  ><i class="material-icons">delete</i></a></th>
                </tr>
                {% endfor %}
                
            </tbody>
          </table>
                         
      </ul>
  
    </div>
    
  </div>




{% endblock %}