{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style2.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

  <body class="body-bg-full profile-page">
    <div id="wrapper" class="row wrapper">
        <div class="row container-min-full-height">
            <div class="col-lg-8 p-3 login-left">
                <div class="w-50">
                    <h2 class="mb-4 text-center">Crea una cuenta</h2>
                    <form method="post" action="" role="form" class="text-center">
                      {% csrf_token %}

                      <div class="form-group">
                        <label class="text-muted" for="example-name">Usuario</label>
                        {{ form.username }}
                      </div>
                        <div class="form-group">
                            <label class="text-muted" for="example-email">Correo</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label class="text-muted" for="example-password">Contraseña</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                          <label class="text-muted" for="example-password">Confirmar Contraseña</label>
                          {{ form.confirm_password }}
                      </div>

                      <div class="row">
                        <div class="col s12">
                          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                        </div>
                      </div>
                       
                        <div class="form-group mr-b-20">
                            <button class="btn btn-block btn-rounded btn-md btn-primary text-uppercase fw-600 ripple" type="submit" name="action">Registrar Usuario</button>
                        </div>
                    </form>
                    <!-- /form -->
                   
                </div>
                <!-- /.w-75 -->
            </div>
            <div class="col-lg-4 login-right d-lg-flex d-none pos-fixed pos-right text-inverse container-min-full-height" style="background-image: url(../../static/img/site-bg.jpg)">
                <div class="login-content px-3 w-75 text-center">
                    <h2 class="mb-4 text-center fw-300">Te encuentras registrado ?</h2>
                    <p class="heading-font-family fw-300 letter-spacing-minus pd-b-30">Inicia sesión y disfruta del aula virtual</p><a href="{% url 'login' %}" class="btn btn-rounded btn-md btn-outline-inverse text-uppercase fw-600 ripple pd-lr-60 mr-t-200">Inicia Sesión</a>
                    
                </div>
                <!-- /.login-content -->
            </div>
            <!-- /.login-right -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.body-container -->
    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/material-design.js"></script>
</body>
</html>

