{% extends 'classroom/menucourse.html' %}
{% load static %}

{% block contenido %}

  {% if teacher_mode == True %}
    <a href="{% url 'new-module' course.id %}" class="btn-floating btn-large waves-effect waves-light red right"><em class="material-icons">add</em></a>
  {% endif %}

  <div class="section">
    <h4>Contenido</h4>
    <div class="divider"></div> 

    <ul class="collapsible">
      {% for module in course.modules.all %}
      <li>
        <div class="collapsible-header"><em class="material-icons">expand_more</em><strong>{{ module.title }}</strong></div>
        <div class="collapsible-body">
          {% if teacher_mode == True %}
            <a href="{% url 'new-page' course.id module.id %}" class="btn-small"><em class="material-icons">add</em>Add new page</a>
            <a href="{% url 'new-assignment' course.id module.id %}" class="btn-small"><em class="material-icons">add</em>Add new assignment</a>
            <a class="btn red darken-1" href="{% url 'delete-module' course.id module.id %}"><em class="material-icons">delete</em></a>
          {% endif %}
            <div class="collection">
              <br>
              {% for page in module.pages.all %}
                <a href="{% url 'page-detail' course.id module.id page.id %}" class="collection-item"><em class="material-icons">segment</em> {{ page.title }}
                </a>
              {% endfor %}
              {% for quiz in module.quizzes.all %}
                <a href="{% url 'quiz-detail' course.id module.id quiz.id %}" class="collection-item"><em class="material-icons">fact_check</em> {{ quiz.title }}
                 <div class="secondary-content">
                  Completed: 
                  <em class="material-icons secondary-content">{% if quiz.id in quiz_completions %}check_circle{% else %}panorama_fish_eye{% endif %}</em>                   
                 </div>
                </a>
              {% endfor %}
              {% for assignment in module.assignments.all %}
                <a href="{% url 'assignment-detail' course.id module.id assignment.id %}" class="collection-item"><em class="material-icons">fact_check</em> {{ assignment.title }}
                 <div class="secondary-content">
                  Completed: 
                  <em class="material-icons secondary-content">{% if assignment.id in assignment_completions %}check_circle{% else %}panorama_fish_eye{% endif %}</em>                   
                 </div>
                </a>
              {% endfor %}
            </div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
  




{% endblock %}